parameters:
	ignoreErrors:
		-
			message: '#^Comparison operation "\=\=" between CustomAttributeTypes\|int and 1 results in an error\.$#'
			identifier: equal.invalid
			count: 1
			path: Domain/Access/AttributeFilter.php

		-
			message: '#^Comparison operation "\=\=" between CustomAttributeTypes\|int and 2 results in an error\.$#'
			identifier: equal.invalid
			count: 1
			path: Domain/Access/AttributeFilter.php

		-
			message: '#^Comparison operation "\=\=" between CustomAttributeTypes\|int and 4 results in an error\.$#'
			identifier: equal.invalid
			count: 1
			path: Domain/Access/AttributeFilter.php

		-
			message: '#^Comparison operation "\!\=" between non\-empty\-array\<int\>\|int\<min, \-1\>\|int\<1, max\> and \-1 results in an error\.$#'
			identifier: notEqual.invalid
			count: 13
			path: Domain/Access/ReservationViewRepository.php

		-
			message: '#^Comparison operation "\=\=" between non\-empty\-array\<int\>\|int\<min, \-1\>\|int\<1, max\> and \-1 results in an error\.$#'
			identifier: equal.invalid
			count: 13
			path: Domain/Access/ReservationViewRepository.php

		-
			message: '#^Comparison operation "\!\=" between int\|ResourceStatus and 0 results in an error\.$#'
			identifier: notEqual.invalid
			count: 1
			path: Domain/Access/ResourceRepository.php

		-
			message: '#^PHPDoc tag @var with type ScheduleLayout is not subtype of native type null\.$#'
			identifier: varTag.nativeType
			count: 1
			path: Domain/Access/ScheduleRepository.php

		-
			message: '#^Comparison operation "\!\=" between CustomAttributeCategory\|int and 1 results in an error\.$#'
			identifier: notEqual.invalid
			count: 3
			path: Domain/CustomAttribute.php

		-
			message: '#^Access to an undefined property IRepeatOptions\:\:\$_daysOfWeek\.$#'
			identifier: property.notFound
			count: 1
			path: Domain/RepeatOptions.php

		-
			message: '#^Access to an undefined property IRepeatOptions\:\:\$_interval\.$#'
			identifier: property.notFound
			count: 1
			path: Domain/RepeatOptions.php

		-
			message: '#^Comparison operation "\=\=" between int\|ReservationUserLevel and 1 results in an error\.$#'
			identifier: equal.invalid
			count: 1
			path: Domain/ReservationItemView.php

		-
			message: '#^Comparison operation "\=\=" between int\|ReservationStatus and 3 results in an error\.$#'
			identifier: equal.invalid
			count: 1
			path: Domain/ReservationSeries.php

		-
			message: '#^Comparison operation "\=\=" between PeriodTypes and 1 results in an error\.$#'
			identifier: equal.invalid
			count: 2
			path: Domain/ScheduleLayout.php

		-
			message: '#^Comparison operation "\=\=" between int\|RoleLevel and 1 results in an error\.$#'
			identifier: equal.invalid
			count: 1
			path: Domain/User.php

		-
			message: '#^Comparison operation "\=\=" between int\|RoleLevel and 2 results in an error\.$#'
			identifier: equal.invalid
			count: 1
			path: Domain/User.php

		-
			message: '#^Comparison operation "\=\=" between int\|RoleLevel and 3 results in an error\.$#'
			identifier: equal.invalid
			count: 1
			path: Domain/User.php

		-
			message: '#^Comparison operation "\=\=" between int\|RoleLevel and 4 results in an error\.$#'
			identifier: equal.invalid
			count: 1
			path: Domain/User.php

		-
			message: '#^Comparison operation "\=\=" between int\|RoleLevel\|null and 1 results in an error\.$#'
			identifier: equal.invalid
			count: 1
			path: Domain/User.php

		-
			message: '#^Comparison operation "\=\=" between int\|RoleLevel\|null and 2 results in an error\.$#'
			identifier: equal.invalid
			count: 1
			path: Domain/User.php

		-
			message: '#^Comparison operation "\=\=" between int\|RoleLevel\|null and 3 results in an error\.$#'
			identifier: equal.invalid
			count: 1
			path: Domain/User.php

		-
			message: '#^Comparison operation "\=\=" between int\|RoleLevel\|null and 4 results in an error\.$#'
			identifier: equal.invalid
			count: 1
			path: Domain/User.php

		-
			message: '#^Comparison operation "\=\=" between CustomAttributeTypes\|int and 1 results in an error\.$#'
			identifier: equal.invalid
			count: 1
			path: Pages/Admin/ManageResourcesPage.php

		-
			message: '#^Comparison operation "\=\=" between CustomAttributeTypes\|int and 2 results in an error\.$#'
			identifier: equal.invalid
			count: 1
			path: Pages/Admin/ManageResourcesPage.php

		-
			message: '#^Comparison operation "\=\=" between array\|string\|null and 1 results in an error\.$#'
			identifier: equal.invalid
			count: 1
			path: Pages/Ajax/AutoCompletePage.php

		-
			message: '#^Comparison operation "\=\=" between array\|string\|null and 1 results in an error\.$#'
			identifier: equal.invalid
			count: 1
			path: Pages/Reservation/ExistingReservationPage.php

		-
			message: '#^Access to an undefined property Sabre\\VObject\\Document\:\:\$VEVENT\.$#'
			identifier: property.notFound
			count: 1
			path: Presenters/Admin/Import/ICalImportPresenter.php

		-
			message: '#^Comparison operation "\=\=" between int\|ResourcePermissionType and 0 results in an error\.$#'
			identifier: equal.invalid
			count: 1
			path: Presenters/Admin/ManageGroupsPresenter.php

		-
			message: '#^Comparison operation "\=\=" between int\|ResourcePermissionType and 1 results in an error\.$#'
			identifier: equal.invalid
			count: 1
			path: Presenters/Admin/ManageGroupsPresenter.php

		-
			message: '#^PHPDoc tag @var with type IReservationValidationRule is not subtype of native type ReservationStartTimeRule\|ResourceMaximumNoticeCurrentInstanceRule\|ResourceMaximumNoticeRule\|ResourceMinimumNoticeCurrentInstanceRuleUpdate\|ResourceMinimumNoticeRuleAdd\.$#'
			identifier: varTag.nativeType
			count: 1
			path: Presenters/ParticipationPresenter.php

		-
			message: '#^PHPDoc tag @var with type ReservationListItem is not subtype of native type null\.$#'
			identifier: varTag.nativeType
			count: 1
			path: Presenters/ResourceDisplayPresenter.php

		-
			message: '#^Call to an undefined method ISchedulePage\:\:GetGroupId\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: Presenters/Schedule/SchedulePageBuilder.php

		-
			message: '#^Comparison operation "\!\=" between int\|ResourceStatus and 0 results in an error\.$#'
			identifier: notEqual.invalid
			count: 1
			path: Presenters/ViewResourcesPresenter.php

		-
			message: '#^Call to an undefined method ResourceViewerViewResourcesPage\:\:BindGroups\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: Presenters/ViewSchedulesPresenter.php

		-
			message: '#^Call to an undefined method ResourceViewerViewResourcesPage\:\:BindSchedules\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: Presenters/ViewSchedulesPresenter.php

		-
			message: '#^Comparison operation "\!\=" between int\|ResourceStatus and 0 results in an error\.$#'
			identifier: notEqual.invalid
			count: 1
			path: Presenters/ViewSchedulesPresenter.php

		-
			message: '#^Comparison operation "\=\=" between AccountStatus\|int\|null and 2 results in an error\.$#'
			identifier: equal.invalid
			count: 1
			path: WebServices/Controllers/AccountController.php

		-
			message: '#^Comparison operation "\!\=" between CustomAttributeCategory\|int and 1 results in an error\.$#'
			identifier: notEqual.invalid
			count: 1
			path: WebServices/Controllers/AttributeSaveController.php

		-
			message: '#^Comparison operation "\!\=" between CustomAttributeCategory\|int and 2 results in an error\.$#'
			identifier: notEqual.invalid
			count: 1
			path: WebServices/Controllers/AttributeSaveController.php

		-
			message: '#^Comparison operation "\!\=" between CustomAttributeCategory\|int and 4 results in an error\.$#'
			identifier: notEqual.invalid
			count: 1
			path: WebServices/Controllers/AttributeSaveController.php

		-
			message: '#^Comparison operation "\!\=" between CustomAttributeCategory\|int and 5 results in an error\.$#'
			identifier: notEqual.invalid
			count: 1
			path: WebServices/Controllers/AttributeSaveController.php

		-
			message: '#^Comparison operation "\!\=" between CustomAttributeTypes\|int and 1 results in an error\.$#'
			identifier: notEqual.invalid
			count: 1
			path: WebServices/Controllers/AttributeSaveController.php

		-
			message: '#^Comparison operation "\!\=" between CustomAttributeTypes\|int and 2 results in an error\.$#'
			identifier: notEqual.invalid
			count: 1
			path: WebServices/Controllers/AttributeSaveController.php

		-
			message: '#^Comparison operation "\!\=" between CustomAttributeTypes\|int and 3 results in an error\.$#'
			identifier: notEqual.invalid
			count: 2
			path: WebServices/Controllers/AttributeSaveController.php

		-
			message: '#^Comparison operation "\!\=" between CustomAttributeTypes\|int and 4 results in an error\.$#'
			identifier: notEqual.invalid
			count: 1
			path: WebServices/Controllers/AttributeSaveController.php

		-
			message: '#^Comparison operation "\=\=" between CustomAttributeCategory\|int and 1 results in an error\.$#'
			identifier: equal.invalid
			count: 1
			path: WebServices/Controllers/AttributeSaveController.php

		-
			message: '#^Comparison operation "\=\=" between CustomAttributeTypes\|int and 3 results in an error\.$#'
			identifier: equal.invalid
			count: 1
			path: WebServices/Controllers/AttributeSaveController.php

		-
			message: '#^PHPDoc tag @var with type IValidator is not subtype of native type PasswordComplexityValidator\|PasswordValidator\.$#'
			identifier: varTag.nativeType
			count: 1
			path: WebServices/Validators/AccountRequestValidator.php

		-
			message: '#^PHPDoc tag @var with type IValidator is not subtype of native type AttributeValidator\|RequestRequiredValueValidator\|TimeIntervalValidator\.$#'
			identifier: varTag.nativeType
			count: 1
			path: WebServices/Validators/ResourceRequestValidator.php

		-
			message: '#^Comparison operation "\=\=" between CustomAttributeCategory\|int\<min, \-1\>\|int\<1, max\> and 2 results in an error\.$#'
			identifier: equal.invalid
			count: 1
			path: lib/Application/Attributes/AttributeService.php

		-
			message: '#^Comparison operation "\=\=" between CustomAttributeCategory\|int\<min, \-1\>\|int\<1, max\> and 4 results in an error\.$#'
			identifier: equal.invalid
			count: 1
			path: lib/Application/Attributes/AttributeService.php

		-
			message: '#^Comparison operation "\=\=" between CustomAttributeCategory\|int\<min, \-1\>\|int\<1, max\> and 5 results in an error\.$#'
			identifier: equal.invalid
			count: 1
			path: lib/Application/Attributes/AttributeService.php

		-
			message: '#^Comparison operation "\=\=" between AccountStatus\|int\|null and 1 results in an error\.$#'
			identifier: equal.invalid
			count: 1
			path: lib/Application/Authentication/Authentication.php

		-
			message: '#^Comparison operation "\=\=" between AccountStatus\|int\|null and 1 results in an error\.$#'
			identifier: equal.invalid
			count: 1
			path: lib/Application/Authentication/PostRegistration.php

		-
			message: '#^Access to an undefined property IBookableResource\:\:\$Id\.$#'
			identifier: property.notFound
			count: 1
			path: lib/Application/Reservation/ReservationComponentBinder.php

		-
			message: '#^Call to an undefined method IResource\:\:GetResourceTypeId\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: lib/Application/Reservation/ResourceTypeFilter.php

		-
			message: '#^Comparison operation "\=\=" between CustomAttributeCategory\|int\|null and 2 results in an error\.$#'
			identifier: equal.invalid
			count: 1
			path: lib/Application/Reservation/Validation/CustomAttributeValidationRule.php

		-
			message: '#^Comparison operation "\=\=" between CustomAttributeCategory\|int\|null and 4 results in an error\.$#'
			identifier: equal.invalid
			count: 1
			path: lib/Application/Reservation/Validation/CustomAttributeValidationRule.php

		-
			message: '#^Comparison operation "\=\=" between CustomAttributeCategory\|int\|null and 5 results in an error\.$#'
			identifier: equal.invalid
			count: 1
			path: lib/Application/Reservation/Validation/CustomAttributeValidationRule.php

		-
			message: '#^Access to an undefined property IReservedItemView\:\:\$item\.$#'
			identifier: property.notFound
			count: 1
			path: lib/Application/Schedule/ReservationListItem.php

		-
			message: '#^Call to an undefined method IReservedItemView\:\:IsUserParticipating\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: lib/Application/Schedule/ReservationListItem.php

		-
			message: '#^Call to an undefined method Attribute\:\:Id\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: lib/Application/Schedule/ScheduleResourceFilter.php

		-
			message: '#^Call to an undefined method Attribute\:\:Type\(\)\.$#'
			identifier: method.notFound
			count: 2
			path: lib/Application/Schedule/ScheduleResourceFilter.php

		-
			message: '#^Call to an undefined method Attribute\:\:Value\(\)\.$#'
			identifier: method.notFound
			count: 4
			path: lib/Application/Schedule/ScheduleResourceFilter.php

		-
			message: '#^Binary operation "\*" between float\|int and string\|null results in an error\.$#'
			identifier: binaryOp.invalid
			count: 1
			path: lib/Common/ContrastingColor.php

		-
			message: '#^PHPDoc tag @return with type Server is not subtype of native type IRestServer\|null\.$#'
			identifier: return.phpDocType
			count: 1
			path: lib/Common/ServiceLocator.php

		-
			message: '#^Access to an undefined property ISqlCommand\:\:\$Parameters\.$#'
			identifier: property.notFound
			count: 1
			path: lib/Database/MySQL/MySqlConnection.php

		-
			message: '#^Call to an undefined method Attribute\:\:Id\(\)\.$#'
			identifier: method.notFound
			count: 4
			path: tests/Application/Attributes/AttributeServiceTest.php

		-
			message: '#^Access to an undefined property IPassword\:\:\$Encryption\.$#'
			identifier: property.notFound
			count: 1
			path: tests/Application/Authentication/PasswordMigrationTest.php

		-
			message: '#^Call to an undefined method IUserRepository\:\:expects\(\)\.$#'
			identifier: method.notFound
			count: 10
			path: tests/Application/Authentication/RegistrationTest.php

		-
			message: '#^Call to an undefined method IUserSessionRepository\:\:expects\(\)\.$#'
			identifier: method.notFound
			count: 7
			path: tests/Application/Authentication/WebServiceAuthenticationTest.php

		-
			message: '#^Call to an undefined method IScheduleLayout\:\:expects\(\)\.$#'
			identifier: method.notFound
			count: 2
			path: tests/Application/Reservation/ReservationStartTimeRuleTest.php

		-
			message: '#^Call to an undefined method IScheduleRepository\:\:expects\(\)\.$#'
			identifier: method.notFound
			count: 2
			path: tests/Application/Reservation/ReservationStartTimeRuleTest.php

		-
			message: '#^Call to an undefined method IScheduleRepository\:\:expects\(\)\.$#'
			identifier: method.notFound
			count: 2
			path: tests/Application/Reservation/ResourceCrossDayRuleTest.php

		-
			message: '#^Call to an undefined method IScheduleLayout\:\:expects\(\)\.$#'
			identifier: method.notFound
			count: 3
			path: tests/Application/Reservation/SchedulePeriodRuleTest.php

		-
			message: '#^Call to an undefined method IScheduleRepository\:\:expects\(\)\.$#'
			identifier: method.notFound
			count: 3
			path: tests/Application/Reservation/SchedulePeriodRuleTest.php

		-
			message: '#^Call to an undefined method Attribute\:\:Id\(\)\.$#'
			identifier: method.notFound
			count: 2
			path: tests/Application/Schedule/ResourceServiceTest.php

		-
			message: '#^Call to an undefined method IAccessoryRepository\:\:expects\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: tests/Application/Schedule/ResourceServiceTest.php

		-
			message: '#^Binary operation "\." between non\-falsy\-string and IReservationSlot results in an error\.$#'
			identifier: binaryOp.invalid
			count: 1
			path: tests/Application/Schedule/ScheduleReservationListTest.php

		-
			message: '#^Cannot call method __toString\(\) on string\.$#'
			identifier: method.nonObject
			count: 2
			path: tests/Application/Schedule/SlotLabelFactoryTest.php

		-
			message: '#^Call to an undefined method IGroupRepository\:\:expects\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: tests/Application/User/ManageUsersServiceTest.php

		-
			message: '#^Call to an undefined method IRegistration\:\:expects\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: tests/Application/User/ManageUsersServiceTest.php

		-
			message: '#^Call to an undefined method IUserViewRepository\:\:expects\(\)\.$#'
			identifier: method.notFound
			count: 2
			path: tests/Application/User/ManageUsersServiceTest.php

		-
			message: '#^PHPDoc tag @var with type InstanceAddedEvent is not subtype of native type InstanceUpdatedEvent\.$#'
			identifier: varTag.nativeType
			count: 1
			path: tests/Domain/Reservation/ExistingReservationTest.php

		-
			message: '#^Call to an undefined method IReservationViewRepository\:\:expects\(\)\.$#'
			identifier: method.notFound
			count: 5
			path: tests/Domain/Reservation/QuotaTest.php

		-
			message: '#^Call to an undefined method IReservationViewRepository\:\:expects\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: tests/Domain/Reservation/QuotaWhenModifyingTest.php

		-
			message: '#^Call to an undefined method IScheduleLayout\:\:GetPeakTimes\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: tests/Domain/Schedule/ScheduleRepositoryTest.php

		-
			message: '#^Call to an undefined method IConfigurationFile\:\:File\(\)\.$#'
			identifier: method.notFound
			count: 3
			path: tests/Infrastructure/Config/ConfigTest.php

		-
			message: '#^Call to an undefined method IConfigurationFile\:\:Register\(\)\.$#'
			identifier: method.notFound
			count: 3
			path: tests/Infrastructure/Config/ConfigTest.php

		-
			message: '#^Access to an undefined property TestAdLdapEntry\:\:\$fooName\.$#'
			identifier: property.notFound
			count: 1
			path: tests/Plugins/Authentication/ActiveDirectory/ActiveDirectoryTest_BROKEN.php

		-
			message: '#^PHPDoc tag @var with type array\<Attribute\> is not subtype of native type array\{LBAttribute\}\.$#'
			identifier: varTag.nativeType
			count: 1
			path: tests/Presenters/Admin/ManageReservationsPresenterTest.php

		-
			message: '#^Call to an undefined method PasswordEncryption\:\:expects\(\)\.$#'
			identifier: method.notFound
			count: 2
			path: tests/Presenters/Admin/ManageUsersPresenterTest.php

		-
			message: '#^Method CommonCalendarPresenter\:\:PageLoad\(\) invoked with 2 parameters, 1 required\.$#'
			identifier: arguments.count
			count: 1
			path: tests/Presenters/CalendarPresenterTest.php

		-
			message: '#^Call to an undefined method IReservationViewRepository\:\:expects\(\)\.$#'
			identifier: method.notFound
			count: 2
			path: tests/Presenters/Dashboard/UpcomingReservationsPresenterTest.php

		-
			message: '#^Call to an undefined method IUpcomingReservationsControl\:\:expects\(\)\.$#'
			identifier: method.notFound
			count: 9
			path: tests/Presenters/Dashboard/UpcomingReservationsPresenterTest.php

		-
			message: '#^Method CommonCalendarPresenter\:\:PageLoad\(\) invoked with 2 parameters, 1 required\.$#'
			identifier: arguments.count
			count: 1
			path: tests/Presenters/PersonalCalendarPresenterTest.php

		-
			message: '#^Call to an undefined method IAttributeService\:\:expects\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: tests/Presenters/RegisterPresenterTest.php

		-
			message: '#^Call to an undefined method ICaptchaService\:\:expects\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: tests/Presenters/RegisterPresenterTest.php

		-
			message: '#^Call to an undefined method IExistingReservationPage\:\:expects\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: tests/Presenters/Reservation/EditReservationPresenterTest.php

		-
			message: '#^Call to an undefined method IReservationInitializer\:\:expects\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: tests/Presenters/Reservation/EditReservationPresenterTest.php

		-
			message: '#^Call to an undefined method IReservationInitializerFactory\:\:expects\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: tests/Presenters/Reservation/EditReservationPresenterTest.php

		-
			message: '#^Call to an undefined method IReservationPreconditionService\:\:expects\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: tests/Presenters/Reservation/EditReservationPresenterTest.php

		-
			message: '#^Call to an undefined method IReservationViewRepository\:\:expects\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: tests/Presenters/Reservation/EditReservationPresenterTest.php

		-
			message: '#^Call to an undefined method IReservationInitializer\:\:expects\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: tests/Presenters/Reservation/GuestReservationPresenterTest.php

		-
			message: '#^Access to an undefined property FakeReservationAuthorization\:\:\$_CanReserveFor\.$#'
			identifier: property.notFound
			count: 3
			path: tests/Presenters/Reservation/ReservationAttributesPresenterTest.php

		-
			message: '#^Call to an undefined method Attribute\:\:Id\(\)\.$#'
			identifier: method.notFound
			count: 5
			path: tests/Presenters/Reservation/ReservationAttributesPresenterTest.php

		-
			message: '#^Call to an undefined method Attribute\:\:Value\(\)\.$#'
			identifier: method.notFound
			count: 2
			path: tests/Presenters/Reservation/ReservationAttributesPresenterTest.php

		-
			message: '#^Call to an undefined method IDeleteReservationPersistenceService\:\:expects\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: tests/Presenters/Reservation/ReservationDeletePresenterTest.php

		-
			message: '#^Call to an undefined method IReservationDeletePage\:\:expects\(\)\.$#'
			identifier: method.notFound
			count: 3
			path: tests/Presenters/Reservation/ReservationDeletePresenterTest.php

		-
			message: '#^Call to an undefined method IReservationHandler\:\:expects\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: tests/Presenters/Reservation/ReservationDeletePresenterTest.php

		-
			message: '#^Call to an undefined method IReservationHandler\:\:expects\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: tests/Presenters/Reservation/ReservationMovePresenterTest.php

		-
			message: '#^Call to an undefined method IUpdateReservationPersistenceService\:\:expects\(\)\.$#'
			identifier: method.notFound
			count: 3
			path: tests/Presenters/Reservation/ReservationMovePresenterTest.php

		-
			message: '#^Access to an undefined property IReservationSavePage\:\:\$attachment\.$#'
			identifier: property.notFound
			count: 1
			path: tests/Presenters/Reservation/ReservationSavePresenterTest.php

		-
			message: '#^Access to an undefined property IReservationSavePage\:\:\$invitedGuests\.$#'
			identifier: property.notFound
			count: 1
			path: tests/Presenters/Reservation/ReservationSavePresenterTest.php

		-
			message: '#^Access to an undefined property IReservationSavePage\:\:\$participatingGuests\.$#'
			identifier: property.notFound
			count: 1
			path: tests/Presenters/Reservation/ReservationSavePresenterTest.php

		-
			message: '#^Access to an undefined property IReservationSavePage\:\:\$referenceNumber\.$#'
			identifier: property.notFound
			count: 1
			path: tests/Presenters/Reservation/ReservationSavePresenterTest.php

		-
			message: '#^Access to an undefined property IReservationSavePage\:\:\$requiresApproval\.$#'
			identifier: property.notFound
			count: 1
			path: tests/Presenters/Reservation/ReservationSavePresenterTest.php

		-
			message: '#^Call to an undefined method IReservationHandler\:\:expects\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: tests/Presenters/Reservation/ReservationUpdatePresenterTest.php

		-
			message: '#^Call to an undefined method IResourceRepository\:\:expects\(\)\.$#'
			identifier: method.notFound
			count: 2
			path: tests/Presenters/Reservation/ReservationUpdatePresenterTest.php

		-
			message: '#^Call to an undefined method IUpdateReservationPersistenceService\:\:expects\(\)\.$#'
			identifier: method.notFound
			count: 2
			path: tests/Presenters/Reservation/ReservationUpdatePresenterTest.php

		-
			message: '#^Call to an undefined method IAccessoryRepository\:\:expects\(\)\.$#'
			identifier: method.notFound
			count: 2
			path: tests/WebServices/AccessoriesWebServiceTest.php

		-
			message: '#^Call to an undefined method IResourceRepository\:\:expects\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: tests/WebServices/AccessoriesWebServiceTest.php

		-
			message: '#^Method AuthenticationWebService\:\:Authenticate\(\) invoked with 1 parameter, 0 required\.$#'
			identifier: arguments.count
			count: 2
			path: tests/WebServices/AuthenticationWebServiceTest.php

		-
			message: '#^Method AuthenticationWebService\:\:SignOut\(\) invoked with 1 parameter, 0 required\.$#'
			identifier: arguments.count
			count: 1
			path: tests/WebServices/AuthenticationWebServiceTest.php

		-
			message: '#^Call to an undefined method IReservationPresenterFactory\:\:expects\(\)\.$#'
			identifier: method.notFound
			count: 4
			path: tests/WebServices/Controllers/ReservationSaveControllerTest.php

		-
			message: '#^Call to an undefined method IResourceRepository\:\:expects\(\)\.$#'
			identifier: method.notFound
			count: 6
			path: tests/WebServices/Controllers/ResourceSaveControllerTest.php

		-
			message: '#^Call to an undefined method IResourceRequestValidator\:\:expects\(\)\.$#'
			identifier: method.notFound
			count: 6
			path: tests/WebServices/Controllers/ResourceSaveControllerTest.php

		-
			message: '#^Call to an undefined method IManageUsersService\:\:expects\(\)\.$#'
			identifier: method.notFound
			count: 4
			path: tests/WebServices/Controllers/UserSaveControllerTest.php

		-
			message: '#^Call to an undefined method IManageUsersServiceFactory\:\:expects\(\)\.$#'
			identifier: method.notFound
			count: 4
			path: tests/WebServices/Controllers/UserSaveControllerTest.php

		-
			message: '#^Call to an undefined method IUserRequestValidator\:\:expects\(\)\.$#'
			identifier: method.notFound
			count: 5
			path: tests/WebServices/Controllers/UserSaveControllerTest.php

		-
			message: '#^Call to an undefined method IGroupViewRepository\:\:expects\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: tests/WebServices/GroupsWebServiceTest.php

		-
			message: '#^Call to an undefined method IAttributeService\:\:expects\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: tests/WebServices/ReservationsWebServiceTest.php

		-
			message: '#^Method ResourcesWebService\:\:GetAvailability\(\) invoked with 1 parameter, 0 required\.$#'
			identifier: arguments.count
			count: 2
			path: tests/WebServices/ResourcesWebServiceTest.php

		-
			message: '#^Call to an undefined method IScheduleRepository\:\:expects\(\)\.$#'
			identifier: method.notFound
			count: 4
			path: tests/WebServices/SchedulesWebServiceTest.php

		-
			message: '#^Call to an undefined method IAttributeService\:\:expects\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: tests/WebServices/Validators/ResourceRequestValidatorTest.php

		-
			message: '#^Call to an undefined method IAttributeService\:\:expects\(\)\.$#'
			identifier: method.notFound
			count: 3
			path: tests/WebServices/Validators/UserRequestValidatorTest.php

		-
			message: '#^Call to an undefined method IUserViewRepository\:\:expects\(\)\.$#'
			identifier: method.notFound
			count: 3
			path: tests/WebServices/Validators/UserRequestValidatorTest.php

		-
			message: '#^Call to an undefined method Configuration\:\:SetKey\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: tests/fakes/FakeConfig.php

		-
			message: '#^Call to an undefined method Configuration\:\:SetSectionKey\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: tests/fakes/FakeConfig.php
